h1 { 
    color: white;
}

.nav {
    background-color: #BC9D68;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchContainer {
    background: gray;
    padding: 15% 0;
}